@import "./../../../assets/styles/settings";

.btn {
	display: inline-flex;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
	&_info {
		background-color: tomato;
	}
	&_primary {
		background-color: teal;
	}
}

.title {
	color: #619c9c;
	display: none;
	font-size: 1.25rem;
	@include from(700px) {
		display: inline-block;
	}
}

.link {
	display: flex;
	align-items: center;
	margin-top: 0.25rem;
	padding: 0.5rem;
	border-radius: 3px;
	background-color: #1a252d;
	a {
		width: inherit;
	}
}
