
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.jsx]

tab_width = 3
indent_size = 3
indent_style = space

[*.js]

tab_width = 3
indent_size = 3
indent_style = space

[*.scss]

tab_width = 4
indent_size = 4
indent_style = tab


[*.css]

tab_width = 4
indent_size = 4
indent_style = tab
