$color: #23292f;
$dark--color: #212e36;
$dt-color: #2b3b47;

.title {
	font-weight: 500;
	color: #9db1b1;
	align-items: center;
	display: inline-flex;
	span {
		padding-left: 0.75rem;
	}
}

.header,
.footer {
	background-color: var(--dark-midium);
	position: sticky;
	border: thin solid var(--dark-light);
}
.header {
	top: 0;
}
.footer {
	bottom: 0;
	color: #535353;
	padding: 0.5rem 1rem;
}
