:root {
	--dark-soft: #191c1d;
	--dark-hard: #131516;
	--dark-midium: #1c2022;

	--dark-light: #313131;
	--link-color: #b76535;
	--main-content: 100%;
	--font-color-base: #b4b4b4;
	--height-content: calc(100vh - 61px - 36px);
	--header-height: 60px;
}

@include from($lg) {
	:root {
		--main-content: minmax(160px, 16%) 1fr;
	}
}
